html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  padding: 3rem;
  /* height: 100%; */
  /* align-items: center; */
  /* justify-content: center; */
}

.botonF1{
  width:40px;
  height:40px;
  border-radius:100%;
  background:#673AB7;
  top: 0%;
  left:auto;
  position:absolute;
  margin:0.5rem;
  border:none;
  outline:none;
  color:#FFF;
  font-size:26px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
}

.botonF1:disabled{
  background:lightgray;
}

.botonF2{
  background:#2196F3 !important;
}
.botonF3{
  background:#673AB7 !important;
}
.botonF4{
  background:#009688 !important;
}
.botonF5{
  background:#FF5722 !important;
}
.botonF6{
  background:#ffc107 !important;
}

.example-container {
  height: calc(79vh - 80px);
  overflow: auto;
}

.example-container-tareas {
  height: calc(71vh - 80px);
  overflow: auto;
}

::ng-deep mat-form-field > div.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align{
  display: none !important;
}
.vertical-hr{
  border:none;
  border-left:1px solid hsla(200, 10%, 50%,100);
  height:3.5rem;
  width: 2px;
  margin: 1rem;
}
