<mat-toolbar color="primary">
  <button mat-icon-button matTooltip="Menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
  </button>
  <span>Control de Horas</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
      <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
      <button mat-menu-item routerLink="#">
          <mat-icon>person</mat-icon><span>Perfil</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>Cerrar Sesión
      </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <mat-nav-list>
        <a mat-list-item [routerLink]="['/tareas']"> <mat-icon matListItemIcon>apple</mat-icon>Tareas</a>
        <a mat-list-item [routerLink]="['/clientes']"> <mat-icon matListItemIcon>apple</mat-icon>Clientes</a>
        <a mat-list-item [routerLink]="['/proyectos']"> <mat-icon matListItemIcon>apple</mat-icon>Proyectos</a>
        <a mat-list-item [routerLink]="['/acciones']"> <mat-icon matListItemIcon>apple</mat-icon>Acciones</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="m-2 align-middle">
      <h1>Acciones</h1>
      <hr>

      <app-search-input (searchInput)="inputSearch($event)"></app-search-input>

      <section class="example-container mat-elevation-z8" tabindex="0">

        <table mat-table aria-label="Tabla acciones" [dataSource]="actionsArray">
          <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let row">
              {{ row.nombre }}
              <button class="float-end" mat-mini-fab matTooltip="Warn" color="warn" (click)="eliminarAccion(row._id)">
                <mat-icon matListItemIcon>delete</mat-icon>
              </button>
              <button class="float-end" mat-mini-fab matTooltip="Warn" color="yellow" (click)="eliminarAccion(row._id)">
                <mat-icon matListItemIcon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell">No hay datos</td>
          </tr>
        </table>

      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
