<mat-toolbar color="primary">
  <button mat-icon-button matTooltip="Menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
  </button>
  <span>Control de Horas</span>
  <span class="toolbar-item-spacer"></span>
  <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
      <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
      <button mat-menu-item routerLink="#">
          <mat-icon>person</mat-icon><span>Perfil</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>Cerrar Sesión
      </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
    <app-menu-sidenav></app-menu-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-sidenav-content">
      Tareas Component
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
